---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main
    class="bg-violet flex flex-1 flex-col items-center justify-center gap-4 p-4 text-center"
  >
    <h1>Here you can save your favorite colors - Coming soon!</h1>
  </main>
</Layout>
