@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-violet: #1b1464;
  --color-magenta: #ed1e79;
}

* {
  @apply select-none;
}

:root {
  @apply scroll-smooth;
}

p,
figcaption {
  @apply text-pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-balance;
}
