---
import Layout from "@/layouts/Layout.astro";
import ColorList from "@/components/ColorList.svelte";
---

<Layout>
  <main
    class=" flex flex-1 flex-col items-center gap-4 bg-violet px-4 pt-24 pb-36"
  >
    <ColorList client:only />
  </main>
</Layout>
