---
import Layout from "@/layouts/Layout.astro";
import ColorList from "@/components/ColorList.svelte";
---

<Layout>
  <main
    class="from-violet to-magenta flex flex-1 flex-col gap-4 bg-gradient-to-tr px-4 pt-24 pb-36 text-center"
  >
    <ColorList client:load />
  </main>
</Layout>
