---
import Layout from "@/layouts/Layout.astro";
import Camera from "@/components/Camera.svelte";
---

<Layout>
  <section class="bg-violet relative h-svh w-full overflow-clip">
    <Camera client:only />
  </section>
</Layout>
