---
import Corner from "@/assets/Corner.astro";
---

<header>
  <nav class="fixed top-0 left-0 z-30 flex rounded-br-3xl bg-black">
    <a href="/" class="relative size-full p-6 text-black">
      <img src="/logo.svg" alt="Logo" class="hidden h-8 lg:block" />
      <img src="/imago.svg" alt="Logo" class="h-8 lg:hidden" />

      <Corner class="absolute top-0 left-full size-6" />
      <Corner class="absolute top-full left-0 size-6" />
    </a>
  </nav>
</header>
