<div
  id="toast"
  class="fixed top-0 right-0 z-20 flex -translate-y-full p-4 transition-transform"
>
  <p
    class="rounded-full border border-neutral-50/10 bg-neutral-950 px-6 py-3 text-center text-sm font-medium backdrop-blur"
  >
    ✅ Color copiado
  </p>
</div>

<style is:inline>
  #toast.active {
    translate: 0;
  }
</style>
