<div
  id="toast"
  class="fixed top-0 left-1/2 z-30 flex -translate-x-1/2 -translate-y-full pt-8 transition-transform"
>
  <p
    class="rounded-full border border-neutral-50/10 bg-green-500 px-6 py-3 text-center font-medium backdrop-blur"
  >
    
  </p>
</div>

<style is:inline>
  #toast.active {
    --tw-translate-y: 0;
  }
</style>
